name: Deploy Navbahor ERP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH to server and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: temurbek
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /data/projects/navbahor_erp
            git pull origin main
            docker compose down
            docker compose up -d --build
